@import '../../../styles/colors.scss';

.date {
    display: inline-flex;
    align-items: center;
}


// For External Classes ( If parrent component has class -> )
:host-context(.form-field_error) {
    input {
        border: 1px solid $error;
    }
}